@model PagedResult<PrinterUsageLogDTO>

@{
    ViewData["Title"] = "Nhật ký";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var token = ViewData["Token"] as string;

    var i = Model.PageSize * (Model.PageIndex - 1);
    string GetNumerOrder()
    {
        i++;
        return Convert.ToString(i);
    }
}
@section header
{
    Nhật ký - Danh sách nhật ký
}

@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}
<div class="container-fluid">
    <div class="card mb-12">
        <div class="card-header" style="margin-bottom:12px">

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" placeholder="Nhập nội dung tìm kiếm..." />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert" style="position:fixed;z-index:99999;top:14%;right:35%">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            @*<th>
                                Tên job
                                </th>*@
                            <th>
                                Người dùng
                            </th>
                            <th>
                                Thời gian
                            </th>
                            <th>
                                Máy in
                            </th>
                            <th>
                                Tài liệu
                            </th>
                            <th>
                                Đã in
                            </th>
                            <th>
                                Chi phí (VNĐ)
                            </th>
                            <th>
                                Chức năng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(GetNumerOrder())
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsageBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsageDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrinterName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsPrinted)
                                </td>
                                <td>
                                    @Html.Raw(@String.Format("{0:n0}", item.UsageCost))
                                </td>
                                <td>
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Oid })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>